%p Tags
%ul= render partial: 'added_tag', collection: @tags

:javascript
  $('#tags .tags :checkbox').click(function() {
      var $this = $(this);
      // $this will contain a reference to the checkbox   
      if ($this.is(':checked')) {
          // the checkbox was checked 
          
      } else {
          // the checkbox was unchecked
          var tag_id = $this.attr('id').match(/\d+/g);
          $.post("/words/"+word_id+"/untag",
          {
            tag_id: tag_id
          });
          $('#tags .untags').load("/words/"+word_id+"refresh_untags");
          $this.parent().remove();
      }
  });
