%p Untags
%ul= render @untags

:javascript
  $('#tags .untags :checkbox').click(function() {
      var $this = $(this);
      // $this will contain a reference to the checkbox   
      if ($this.is(':checked')) {
          // the checkbox was checked 
          var tag_id = $this.attr('id').match(/\d+/g);
          $.post("/words/"+word_id+"/tag",
          {
            tag_id: tag_id
          });
          $('#tags .tags').load("/words/"+word_id+"refresh_tags");
          $this.parent().remove();
      } else {
          // the checkbox was unchecked
      }
  });
